body{
    background: url(../img/panier.webp) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover;

    color:white;
}
.zone{
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;

    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: min-content;
    height: 50%;

}
header{
    background-color: white;
}