<!doctype html>
<html lang="fr">

    {% include 'base/head.html.twig' %}

<body>
    <div class="header">
        <a id="menu-replie"><i id=menu class="fas fa-align-justify"></i></a>
        <a href="accueil" class="logo"><i class="fas fa-home"></i>Conso Enquete</a>
        <div class="header-right">
            <a class="active menu-large" href="#home"><i class="fas fa-map-marked-alt"></i></a>
            <a class="menu-large" href="accueil"><i class="fas fa-shopping-basket"></i></a>
            <a class="menu-large" href="accueil"><i class="fas fa-user-alt"></i></a>
            <a class="menu-large" href="accueil"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>

    <h1 class="display-7 text-center">Inscription</h1>

    <form>
        <div class="form-group">
            <label for="email">Adresse Email</label>
            <input id="email" type="email" class="form-control"  placeholder="Email">
    
            <label for="password1">Mot de passe</label>
            <input id="password1" type="password" class="form-control"  placeholder="Mot de passe">
  
            <label for="password2">Confirmez votre mot de passe</label>
            <input id="password2" type="password" class="form-control" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
        <p>Déjà un compte ? <a href="/connexion">Se connecter</a></p>
    </form>
    
</body>
<script type="text/javascript" src="/static/js/vue/vue.js"></script>
</html>